$orange-color: #F1A10A;
$text-color: #2D2D2D;

.box-double-container{
  display:inline-flex;
  margin: 50px 0;
  .box-double{
    width:50%;
    .box-double-content{
      display:flex;
      .box-double-image{
        height:320px;
        width:320px;
      }
      .box-double-text{
        padding:35px 80px;
        background:#fff;
        .author{
          font-size:24px;
          color:$text-color;
          line-height: 34px;
        }
        h2{
          color: $orange-color;
          font-size:36px;
          margin:5px 0px;
        }
        p{
          margin:0;
          font-size:24px;
          color:$text-color;
          line-height: 34px;
        }
      }
      .box-double-button{
        margin-right: -32px;
        float:right;
        text-decoration:none;
        display:block;
      }
    }
  }
}


.box-single-container{
  display:block;
  margin: 50px 0;
  .box-single{
    width:1280px;
    &.right{
      margin-left:auto;
    }
    .box-single-content{
      display:flex;
      .box-single-image{
        max-height:640px;
        max-width:640px;
      }
      .box-single-text{
        padding:162px 80px;
        background:#fff;
        max-height:640px;
        width:480px;
        .author{
          font-size:24px;
          color:$text-color;
          line-height: 34px;
        }
        h2{
          color: $orange-color;
          font-size:36px;
          margin:5px 0px;
        }
        p{
          margin:0;
          font-size:24px;
          color:$text-color;
          line-height: 34px;
        }
      }
      .box-single-button{
        margin-right: -32px;
        float:right;
        text-decoration:none;
        display:block;
      }
    }
  }
}
@media screen and (min-width: 700px) and (max-width: 1280px){
 .box-double-container{
    margin: 0;
    .box-double{
      .box-double-content{
        display:block;
        .box-double-image{
          height: auto;
          width: 100%;
          img{
            width: 100%;
          }
        }
        .box-double-text{
          margin-top: -4px;
          height: 650px;
        }
      }
    }
  }
  .box-single-container{
    display:block;
    margin:0px;
    &:last-child{
      padding: 0px;
    }
    .box-single{
      width:100%;
      .box-single-content{
        display:block;
        .box-single-image{
          height: auto;
          width: 100%;
          max-width:inherit;
          max-height:inherit;
          img{
            width: 100%;
          }
        }
        .box-single-text{
          width: auto;
          margin-top: -4px;
        }
      }
    }
  }

}
@media screen and (max-width: 700px){
  .box-double-container{
    display:block;
    margin: 0;
    .box-double{
      width: 100%;
      padding-bottom: 100px;
      .box-double-content{
        display:block;
        .box-double-image{
          height: auto;
          width: 100%;
          img{
            width: 100%;
          }
        }
        .box-double-text{
          margin-top: -4px;
        }
      }
    }
  }
  .box-single-container{
    display:block;
    padding-bottom: 100px;
    margin:0px;
    &:last-child{
      padding: 0px;
    }
    .box-single{
      width:100%;
      .box-single-content{
        display:block;
        .box-single-image{
          height: auto;
          width: 100%;
          max-width:inherit;
          max-height:inherit;
          img{
            width: 100%;
          }
        }
        .box-single-text{
          width: auto;
          margin-top: -4px;
        }
      }
    }
  }
}
