*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Rubik', sans-serif;
  margin:0;
  box-sizing: content-box;
}
main{
  background: linear-gradient(90deg, #F1A10A 0%, #342303 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main-box{
  padding: 200px 0px;
  .main-box-content{
    background: #fff;
    width: 1280px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 700px) and (max-width: 1280px){
 .main-box{
    padding: 0px;
    .main-box-content{
      width:100%;
    }
  }
}
@media screen and (max-width: 700px){
  .main-box{
    padding: 0px;
    .main-box-content{
      width:100%;
    }
  }
}

