.modal{
  position:fixed;
  display:none;
  top:10%;
  right: 0;
  left: 0;
  background:#fff;
  width: 810px;
  margin: auto;
  max-height:70%;
  will-change:top, opacity;
  overflow-y:scroll;
  .modal-content{
    padding: 100px 120px;
    display:block;
  }
  .modal-close{
    position:absolute;
    cursor:pointer;
    right:50px;
    top:50px;
    i{
      font-size:50px;
    }
  }
  h2{
    text-align:center;
  }
}

@media screen and (max-width: 700px){
  .modal{
    width: 100%;
  }
}
